.coords {
  display: flex;
  flex-direction: column;
  font-size: clamp(1.75rem, 5vw, 3rem);
  padding: 2rem;
}

.coords > div > input {
  width: clamp(150px, 20vw, 250px);
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: clamp(1rem, 5vw, 2rem);
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 3px solid #3aaadc;
  border-radius: 10px;
  margin: 2rem 40vw;
  padding: clamp(1rem, 3vw, 2rem);
  padding-bottom: clamp(1.5rem, 3vw, 3rem);
  transition: margin 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  max-width: fit-content;
}

.formWrapper {
  display: flex;
  align-items: center;
}

.input {
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  border-radius: 10px;
  padding: clamp(0.5rem, 3vw, 1.5rem);
  font-size: clamp(1rem, 3vw, 2rem);
  color: white;
  background-color: #3aaadc;
  transition: background-color 0.5s ease;
}

button:hover {
  background-color: hsl(199, 70%, 5%);
  cursor: pointer;
}

.rolling {
  margin: 2rem clamp(0.5rem, 5vw, 4rem);
}
