.coords {
  display: flex;
  flex-direction: column;
  font-size: clamp(1.75rem, 5vw, 2.5rem);
  padding: clamp(0.5rem, 5vw, 1.5rem);
}

.coords > div > input {
  width: clamp(150px, 20vw, 250px);
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: clamp(1rem, 5vw, 2rem);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 3px solid #3aaadc;
  border-radius: 10px;
  padding: clamp(1rem, 3vw, 2rem);
  padding-bottom: clamp(1.5rem, 3vw, 3rem);
}

.input {
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  border-radius: 10px;
  padding: clamp(0.5rem, 3vw, 1.5rem);
  font-size: clamp(1rem, 3vw, 2rem);
  color: white;
  background-color: #3aaadc;
  transition: background-color 0.5s ease;
}

button:hover {
  background-color: hsl(199, 70%, 5%);
  cursor: pointer;
}
